body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: cadetblue;
  }

  .meni{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(4, 35, 77);
    position: relative;
  }
  
  .meni li {
        display: inline;
        padding: 5px;
    }
    
    .meni ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #menu{
      padding: 20px;
      position: absolute;
      bottom: 0;
    }

  #vjezba{
      background-color: rgb(80, 139, 175);
      border: 1px solid rgb(4, 35, 77);
      padding: 10px;

      margin-bottom: 10px;
  }

  #vjezba:nth-of-type(1), #vjezba:nth-of-type(6){
      margin-bottom: 0;
  }

  #vjezbeTabela{
    display: grid;
    padding: 10px;
    border: 1px solid rgb(4, 35, 77);
    background-color: rgb(112, 169, 204);
    /*grid-gap: 10px;*/
    grid-auto-rows: auto;
    box-sizing: border-box;
    margin: 10px;
  }

  .grafovi{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto;
  }

  img{
      width: 100%;
      height: 100%;
  }

  #zadaci{
      padding: 3px;
      border: 1px solid rgb(4, 35, 77);
      background-color: rgb(48, 113, 204);
  }

  #zadaciBtn{
      background-color: rgb(112, 169, 204);
      border: 1px solid rgb(4, 35, 77);
      font-size: 62.5%;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      padding-right: 5px;
      padding-left: 5px;
      margin-right: 3px;
  }

  @media screen and (min-width:800px) {
      #odabirVjezbe{
          width: 33.3333%;
          float: left;
          overflow: hidden;
      }

      .grafovi{
        width: 66.6666%;
        float: right;
        overflow: hidden;
        box-sizing: border-box;
        border-left:1px solid rgb(4, 35, 77);
        padding: 10px;
      }

    }  

    @media screen and (min-width:500px) and (max-width:799px) {
          #odabirVjezbe{
              width: 100%;
              box-sizing: border-box;
              border-bottom: 1px solid rgb(4, 35, 77);
          }
    
          .grafovi{
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            grid-template-columns: auto;
          }
    
    }
    
    @media screen and (max-width:499px) {
      .meni{
        width: 100%;
        border-bottom: 1px solid rgb(4, 35, 77);
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
      }
      
      .meni li {
            display: block;
            padding: 5px;
        }
        
        .meni ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }   
        
        #menu{
          padding: 0;
          padding-top: 30px;
          position: relative;
        }

      #odabirVjezbe{
          width: 100%;
          box-sizing: border-box;
          border-bottom: 1px solid rgb(4, 35, 77);
      }

      .grafovi{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        grid-template-columns: auto;
      }

      #vjezba{
        font-size: 10px;
      }

      #zadaciBtn{
        font-size: 50%;
      }

    } 
      
    