body{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: cadetblue;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(112, 169, 204);
  text-align: center;
}

th{
  background-color: rgb(80, 139, 175);
}

th, td{
  width: 33.3333%;
  padding: 5px;
}

#gridViewStudenti{
  display: grid; 
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#Student{
  background-color: rgb(112, 169, 204);
  text-align: center;
  padding: 10px;

  border: 1px solid rgb(4, 35, 77);
  border-radius: 15px;
}

#Vjezbe{
  background-color: rgb(80, 139, 175);
  border-radius: 15px;
  text-align: left;
  padding: 5px
}



@media screen and (min-width:800px) {
  .meni{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(4, 35, 77);
    position: relative;
  }
  
  .meni li {
        display: inline;
        padding: 5px;
    }
    
    .meni ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }    

    .studenti{
      width: 60%;
      height: 700px;
      border-right: 1px solid rgb(4, 35, 77);
      float: left;
      overflow: hidden;
      box-sizing: border-box;
      padding: 20px; 
    }

    .grupe{
      width: 40%;
      height: 700px;
      float: right;
      overflow: hidden;
      box-sizing: border-box;
      padding: 20px;
    }

    #menu{
      padding: 20px;
      position: absolute;
      bottom: 0;
    }
  }  

  @media screen and (min-width:500px) and (max-width: 799px) {
    .meni{
      width: 100%;
      height: 100px;
      padding: 25px;
      border-bottom: 1px solid rgb(4, 35, 77);
      position: relative;
      box-sizing: border-box;
    }
    
    .meni li {
          display: inline;
          padding: 5px;
      }
      
      .meni ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }    
  
      .studenti{
        width: 100%;
        height: max-content;
        border-top: 1px solid rgb(4, 35, 77);
        padding: 20px; /* novo*/
        box-sizing: border-box;
      }
  
      .grupe{
        width: 100%;
        height: max-content;
        padding: 20px;
        box-sizing: border-box;
      }

      #menu{
        position: absolute;
        bottom: 0;
        padding: 10px;
      }
     
    }   

    @media screen and (max-width:499px) {
      .meni{
        width: 100%;
        height: 100px;
        border-bottom: 1px solid rgb(4, 35, 77);
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
      }
      
      .meni li {
            display: block;
            padding: 5px;
        }
        
        .meni ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
       #menu{
         padding-top: 30px;
       }
    
        .studenti{
          width: 100%;
          height: max-content;
          border-top: 1px solid rgb(4, 35, 77);
          padding: 20px;
          box-sizing: border-box;
        }
    
        .grupe{
          width: 100%;
          height: max-content;
          padding: 20px;
          box-sizing: border-box;
        }

       th:nth-child(n+2), td:nth-child(n+2){
         display: none;
       }
      }   
    
   