body{
    background-color: cadetblue;
}

.lijevo{
    padding: 15px;
    background-color: rgb(112, 169, 204);
    border: 1px solid rgb(4, 35, 77);
}

.desno{
    padding: 15px;
    background-color: rgb(112, 169, 204);
    border: 1px solid rgb(4, 35, 77);
}

.upiti{
    margin-top: 2.5%;
    padding: 15px;
    float: left;
    box-sizing: border-box;
    width: 60%;
}

.upiti1{
    margin-top: 2.5%;
    padding: 15px;
    float:right;
    box-sizing: border-box;
    width: 40%;
}

label{
    font-size: larger;
}

button{
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(80, 139, 175);
    width: 100%;
    border: 1px solid rgb(4, 35, 77);
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 113, 204);;
  }

select{
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#dodajRezTesta{
    margin-top: 10px;
}

@media screen and (max-width:800px) {
    .upiti{
        margin-top: 2.5%;
        padding: 15px;
        width: 100%;
    }
    
    .upiti1{
        margin-top: 2.5%;
        padding: 15px;
        width: 100%;
    }

    label{
        font-size: large;
    }
    button{
        font-size: medium;
    }
}


